<h1>Work Presence</h1>
<h3>Bonjour {{nom}} {{prenom}}</h3>
<h4>Merci d'avoir choisie Work presence.</h4>
<h4>Votre informations :</h4>
<h4>Nom d'utilisateur: {{utilisateur}}</h4>
<h4>Adresse email: {{adresse_email}}</h4>
<h4>Mot de passe: {{mdp}}</h4>




